* {
    --sidebar-width: 260px;
    --sidebar-width-inverted: -260px;
    --breakpoint-lg: 992px;
    --breakpoint-medium: 769px;
}

.sidebar {
    height: 100%;
    width: var(--sidebar-width);
    position: fixed;
    z-index: 1;
}

.page-mobile-view {
    /* transform: translateX(var(--sidebar-width));
    width: calc(100% - var(--sidebar-width)); */
    animation: 1s alternate slidein;
}

.sidebar-mobile-view {
    transform: translateX(0px) !important;
    z-index: 20;
    animation: 1s alternate slidein;
}

#sidebar-backdrop {
    width:100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    cursor: default;
    border: 0px;
}

.sidebar-backdrop-animation {
    animation: 0.5s alternate fadein;
}

/* desktop view */
@media (min-width: 769px) {
    #main {
        /* animation: 0.8s alternate slidein; */
        transform: translateX(var(--sidebar-width));
        width: calc(100% - var(--sidebar-width));
    }
}

/* mobile view */
@media (max-width: 769px) {
    #main {
        animation: 1s alternate slideout;
    }

    .sidebar {
        transform: translateX(var(--sidebar-width-inverted));
    }
    #sidebar-backdrop {
        transform: translateX(var(--sidebar-width));
    }
}

@keyframes slidein {
    from {
        translate: -260px 0;
        scale: 100% 1;
        overflow-y: hidden;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
        overflow-y: visible;
    }
}

@keyframes slideout {
    from {
        translate: 260px 0;
        scale: 100% 1;
        overflow-y: visible;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
        overflow-y: hidden;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
        overflow-y: hidden;
    }

    to {
        opacity: .5;
        translate: 0 0;
        scale: 100% 1;
        overflow-y: visible;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}