html,
body {
    font-family: 'Noto Sans';
    color: var(--text);
}

main {
    height: 100vh;
    height: -webkit-fill-available;
    overflow-x: hidden;
}

.content {
    padding-top: 1.1rem;
}

/* i don't even know why is this here but i'm too scared to remove it */
h1:focus {
    outline: none;
}

symbol {
    fill:currentColor;
}

.hidden {
    visibility: collapse;
}